body {
    background-color: grey;
    background-image: url("https://i.imgur.com/PvTUPaE.png");
    /* background-repeat: no-repeat; */
    /* background: transparent; */
}

.guitarbuttons {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.glow:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4)
}