body {
    background-image: url('https://i.imgur.com/l7ue4P4.png');
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-size: 40px;
    padding-top: 1fr;
    padding-bottom: 2fr;
}

h2 {
    font-size: 20px;
}



.guitarbuttons {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	/* background: rgb(187, 141, 57); good "guitar string" color if i go different route */
	padding: 10px 10px;
	border-radius: 4px;
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.glow:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

#guitar {
    display: inline-block;
    font-size: 16px;
	/* grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; */
	/* grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; */
}

/* #guitarImage {
	background-image: url('https://i.imgur.com/PvTUPaE.png'); not sure how best to lay image
} */

#red {
	/* grid-column-start: 3; not sure how best to lay image */ 
	background: red;
}

#blue {
	background: blue;
}

#green {
	background: green;
}

#yellow {
	background: yellow;
}

#startgame {
	font-size: 18px;
	visibility: 'visible';
}

#resetgame {
	font-size: 18px;
	visibility: initial;
	visibility: 'hidden';
}

#round {
    font-size: 20px;
}

#movesremaining {
    font-size: 20px;
}
